* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}
.profile-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 370px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 25px;
  border-radius: 24px;
  position: relative;
}
.profile-card::before{
    content: "";
    position: absolute;
    height: 36%;
    width: 100%;
    background-color: #4070f4;
    top: 0;
    left: 0;
    border-radius: 24px 24px 0 0;


}

.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #4070f4;
  padding: 3px;
  margin-bottom: 10px;
  position: relative;
}
.image .profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}
.profile-card .text-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #333;
}
.text-data .name {
  font-size: 22px;
  font-weight: 500;
}
.text-data .job {
  font-size: 15px;
  font-weight: 400;
}
.media-buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.media-buttons .link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0 8px;
  background-color: #4070f4;
  height: 34px;
  width: 34px;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}
.buttons {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.buttons .button {
  border: none;
  border-radius: 24px;
  color: #fff;
  font-size: 14px;
  padding: 8px 24px;
  background-color: #4070f4;
  margin: 0 10px;
  cursor: pointer;
  transition: 3 all eas;
}
.button:hover {
  background-color: #3761d5;
}
.analytics {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.analytics .data {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #333;
  border-right: 2px solid #e7e7e7;
}
.data i{
    margin-right: 6px;
    font-size: 18px;
}

.data:last-child{
    border-right:none
}


@media (max-width:378px) {
    .profile-card{
      width: 90%;
    }


}